<% if logged_in? %>
  <script itype="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>
<script itype="text/javascript">
    window.fb_icon = "<%= image_url('fakebook-icon.png')%>"
</script>

<main id="root"></main>
