// 1% = 10px???

#feed-header {
    background-color: #4267b2;
    display: flex;
    align-items: center;
}

.fb-icon {
    margin-left: 14.6%;
}

.fb-icon > img {
    height: 25px;
    margin-top: 3px;
    margin-right: 10px;
}

.search-div {
    width: 25%;
    position: relative;
}

.search-results {
    position: absolute;
    width: 97%;
}

.search-result {
    width: 100%;
    display: block;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
    margin-left: 2px;
    height: 20px;
    font-weight: bold;
    padding-top: 2px;
}

.search-link {
    padding: 10px;
}

#feed-search {
    height: 19px;
    font-size: 14px;
    width: 95%;
    border-radius: 3px;
    padding-left: 5px;
}

.feed-search-icon {
    height: 19px;
    width: 19px;
    margin-top: 6px;
    margin-left: 6px;
}

#right-header {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 15%;
}

.feed-right-header-icon {
    height: 41px;
    width: 41px;
}

.right-header-text {
    color: white;
    margin-right: 24px;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    padding: 5px;
}

.right-header-text:hover {
    background-color: gray;
    border-radius: 2px;
}

#main-feed {
    display: flex;
    background-color: #edf0f5;
    padding-top: 10px;
    min-height: 100vh;
}

#main-feed > section {
    margin-top: 10px;
}

#feed-left {
    width: 13%;
    margin-left: 15%;
    font-size: 16px;
}

#feed-center {
    width: 35%;
    margin-left: 10px;
    margin-right: 10px;
}

#feed-right {
    width: 19%;
}

#news-icon {
    color: #0084DB;
}

#user-icon {
    color: gray;
}

// #portfolio-icon {
//     color: steelblue;
// }

#linkedin-icon {
    color: #0e76a8;
}

#resume-icon {
    color: steelblue;
}

.fb-icon-left {
    height: 16px;
}

.feed-left-icon, #feed-left-fb-icon {
    margin-right: 5px;
}

.feed-left-text {
    margin-bottom: 11px;
}

#feed-left-name {
    margin-bottom: 15px;
    font-weight: bold;
}

#feed-left-explore {
    margin: 20px 0 20px 0;
    // color: #616770;
    font-weight: bold;
}

#feed-left-see-more {
    color: #385898;
    display: block;
    text-align: center;
}

#feed-right-languages {
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
}

#feed-right-languages > section {
    padding: 13px;
    display: inline-block;
}

#feed-right-languages > section > * {
    color: #385898;
    font-size: 15px;
    margin-right: 5px;
}

#feed-right-languages > section > p {
    display: inline-block;
}

#feed-right-fb-c {
    color: #616770;
    font-size: 13px;
    margin-left: 20px;
    margin-top: 5px;
}