#post-form > input {
    width: 37vh;
    padding: 5px 5px 80px 10px;
    font-size: 20px;
    border-radius: 8px;
}

#post-form > button {
    border-radius: 5px;
    width: 39vh;
    height: 4vh;
    font-size: 12px;
    color: white;
    font-weight: bold;
    background-color: #4267b2;
}

.individual-post {
    display: block;
    width: 37vh;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid lightgray;
}

.post-author{
    color: #4267b2;
    font-weight: bold;
}

.post-author:hover {
    text-decoration: underline;
}

.post-body-long, .post-body-short {
    margin: 10px;
}

.post-body-short {
    font-size: 28px;
}