#login-header {
    display: flex;
    background-color: #405D9A;
    height: 85px;
    position: relative;
};

#login-form {
    display: flex;
    align-items: center;
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    margin: 7px;
    right: 230px;
    top: 5px;
    position: absolute;
};

.login-input-label {
    display: grid;
};

.login-input {
    margin: 5px 7px 20px 0;
};

#login-logo {
    left: 230px;
    position: absolute;
};

#login-button {
    background-color: #4267B2;
    color: white;
    border: 1px solid rgb(30, 55, 110);
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
}

#login-button:hover{
    background-color: rgb(52, 85, 158);
}