// height: 1% = 16px;

#login-header {
    display: flex;
    background-color: #405D9A;
    height: 10vh;
    position: relative;
    align-items: center;
};

#login-logo {
    margin-left: 16%;
    font-family: Klavika;
    color: white;
    font-size: 42px;
    font-weight: bold;
};

.login-input-label {
    display: grid;
};

.login-input {
    margin: 5px 7px 20px 0;
};

#login-form {
    display: flex;
    align-items: center;
    color: white;
    font-family: Helvetica;
    font-size: 12px;
    margin: 7px;
    margin-left: 30%;
};

.login-button {
    background-color: #4267B2;
    color: white;
    height: 25px;
    border: 1px solid rgb(30, 68, 110);
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;
    padding: 0 5px;
};

#login-button:hover {
    background-color: rgb(52, 85, 158);
};

#login-light-blue {
    height: 90vh;
    background-color: #edf0f5;
}

#login-errors {
    display: inline-block;
    padding: 10px;
    position: absolute;
    right: 20%;
    margin: 10px;
    border: 3px solid red;
    border-radius: 5px;
    background-color: #FFFFC3;
    font-weight: bold;
}

#login-body {
    display: flex;
    position: relative;
};

#login-left {
    margin-top: 4%;
    font-family: Klavika;
    margin-left: 16%;
}

#login-left-icons {
    margin-top: 8%;
    margin-bottom: 6%;
}

.login-left-icon-section {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.login-left-icon {
    margin-right: 5%;
    width: 56px;
    height: 56px;
}

.login-left-text-dark {
    font-size: 17px;
}

.login-left-text-light {
    color: gray;
    font-family: Helvetica;
    font-size: 15px;
}

#signup-form {
    width: 50%;
    margin-left: 9%;
}

#signup {
    font-size: 36px;
    margin-top: 3%;
    margin-bottom: 1%;
}

#quick-easy {
    font-size: 19px;
    margin-bottom: 3%;
}

.signup-name-input-text {
    margin-bottom: 2%;
    margin-right: 2%;
    padding-left: 10px;
    width: 194px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

.signup-input-other-text {
    margin-bottom: 2%;
    padding-left: 10px;
    padding-right: 10px;
    width: 408px;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
}

.signup-bday-gender > p {
    color: #90949c;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

.signup-bday-gender > select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
    background-color: white;
}

#signup-gender-options {
    display: flex;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-gender-option, .gender-plus-text {
    margin-right: 8px;
}

#signup-submit {
    font-weight: bold;
    height: 39px;
    width: 194px;
    font-size: 19px;
    border-radius: 5px;
    background-color: #69a74e;
    color: white;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

#signup-languages > section, .signup-bottom-links {
    display: flex;
    height: 12vh;
    border-bottom: 1px solid lightgray;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: 16%;
    margin-right: 16%;
}

.signup-bottom-links {
    align-items: flex-start;
}

#signup-languages > section > *, .signup-bottom-link {
    color: #385898;
    margin: 10px 5px 8px 5px;
    font-size: 14px;
}